.header h1 {
	color: #ffffff;
    font: normal 40pt 'Oswald';
	padding-bottom: 2.7%;
	padding-top: 2.5%;
}

section {
    background-color: rgb(149,104,239);
    color: #ffffff;
	font-family: 'Oswald';
    padding-top: 5%;
    padding-bottom: 5%;
}

#form {
	border-radius: 20px;
	border: 2px #ffffff;
	border-style: solid;
	font-family: 'Oswald';
	margin: auto;
	padding: 2%;
	text-align: center;
	width: 35em;
}

h2 {
	font-size: 30pt;
	font-weight: normal;
	margin-bottom: 8%;
	text-decoration: underline overline;
}

div {
	text-align: right;
}

input {
    border-radius: 5px;
	font-family: 'Times';
	font-size: 20pt;
	font-weight: normal;
	width: 300px;
}

select {
	color: #000000;
	font: normal 16pt 'Oswald';
	border-radius: 4px;
}

p {
	font-size: 20pt;
	margin-bottom: 2%;
}

#numero {
	width: 70px;
}

#cep {
	width: 167px;
}

#cidade {
	width: 208px;
}

#cadastrar {
	font-family: 'Oswald';
	height: 5%;
    margin-bottom: 2%;
    margin-top: 4%;
	width: 180px;
}

#atual {
	background-color: rgb(149,104,239);
	color: #ffffff;
}