section {
	background-color: rgb(149, 104, 239);
	color: #ffffff;
	font-family: 'Oswald';
	padding-top: 5%;
	padding-bottom: 5%;
}

div {
	border-radius: 20px;
	border: 2px #ffffff;
	border-style: solid;
	font-family: 'Oswald';
	margin: auto;
	padding: 2%;
	text-align: center;
	width: 35em;
}

h2 {
	font-size: 30pt;
	font-weight: normal;
	margin-bottom: 8%;
	text-decoration: underline overline;
}

p {
	font-size: 20pt;
	margin-bottom: 2%;
}

#atual {
	background-color: rgb(149, 104, 239);
	color: #ffffff;
}

.botao {
	border-radius: 5px;
	font-family: 'Oswald';
	font-size: 20pt;
	font-weight: normal;
	height: 5%;
	margin-bottom: 2%;
	margin-top: 4%;
	width: 200px;
}

th {
	font-family: 'Oswald';
	font-size: 18pt;
	font-style: italic;
	height: 30px;
	width: 400px;
}

td {
	border: 2px solid white;
	font-family: 'Oswald';
	font-size: 16pt;
	height: 25px;
}

table a {
	color: black;
	text-decoration: none;
}

table a:hover {
	color: rgb(255, 255, 255);
}