@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald');

.interface {
	background-color: rgb(255, 255, 255);
	margin: auto;
	padding-bottom: 2%;
    text-align: center;
	width: 75%;
}

.logo {
	margin-top: 3%;
	margin-bottom: 3%;
	width: 100%;
}

.header {
	display: block;
	border-bottom: 1px #ffffff solid;
	background-color: rgb(149,104,239);
}

.menu {
	display: block;
	font-family: Oswald;
	font-size: 30pt;
	text-align: center;
	margin-top: 3%;
}

.menu a {
	color: #ffffff;
	text-decoration: none;	
}

.menu a:hover {
	text-decoration: underline;
}

.menu ul {
	list-style: none;
	margin: 0%;
}

.menu li {
	display: inline-block;
	background-color: #ffffff;
	color: rgb(149,104,239);
	margin: 3% 1% 3% 1%;
	transition: background-color .5s;
}

.menu li:hover {
	background-color: rgb(149,104,239);
	color: #ffffff;
}

.menu a {
	display: inline-block;
	color: rgb(149,104,239);
	margin: 2px;
	transition: color .5s;
}

.menu a:hover {
	color: #ffffff;
}

.footer {
	background-color: rgb(149,104,239);
	border-top: 1px solid #ffffff;
	display: block;
	padding: 4% 0 4% 0;
	margin: auto;
	text-align: center;
}

.footer p {
	color: #ffffff;
	font-family: 'Oswald';
	font-size: 20pt;
	margin: 0;
}

.footer a {
	color: #ffffff;
}