<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/consulta_agendamentos.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

	<title>Home Nail - Meus Agendamentos</title>

</head>

<body>
	<div class="interface">
		<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">

		<header class="header">
			<nav class="menu">
				<ul>
					<li><a action="consulta_agendamentos_cliente.html" id="atual">Meus Agendamentos</a></li>
					<li><a action="editar_cadastro_cliente.html">Meu Cadastro</a></li>
					<li><a action="sobre.html">Sobre</a></li>
				</ul>
			</nav>
		</header>

		<section>
			<h2>Consulta de seus Agendamentos</h2>

			<div>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
				<p>TABELA DE AGENDAMENTOS VAI AKI</p>
			</div>

		</section>

		<footer class="footer">
			<p>Home Nail&trade; é um app feito por <a href="https://tickware.com.br/"> Tickware, Inc.</a></p>
		</footer>

	</div>
</body>

</html>