<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

	<title>Home Nail - Meu Cadastro</title>
</head>

<body>
	<div class="interface">
		<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">

		<header class="header">
			<nav class="menu">
				<ul>
					<li><a href="{{ url_for('consulta_agendamentos_fornec') }}">Meus Agendamentos</a></li>
					<li><a href="{{ url_for('editar_cadastro_fornec') }}" id="atual">Meu Cadastro</a></li>
					<li><a href="{{ url_for('sobre_fornec') }}">Sobre</a></li>
					<li><a href="{{ url_for('logout') }}">Sair</a></li>
				</ul>
			</nav>
		</header>

		<section>
			<div id='form'>
				<form action="{{ url_for('editar_fornec_banco') }}" method="post">

					<h2>Atualize Seu Cadastro</h2>

					<div>
						<p>Nome: <input name="nome" type="text" maxlength="100" value="{{ fornec[1] }}"></p>
						<p>CNPJ: <input name="cnpj" type="text" maxlength="14" placeholder="Somente números"
								value="{{ fornec[2] }}"></p>

						<p>Telefone: <input name="telefone" type="number" placeholder="DDD + fone"
								value="{{ fornec[4] }}">
						</p>

						<p>Crie sua Senha: <input name="senha" type="password" minlength="6" maxlength="50"
								placeholder="Mínimo 6 caracteres" value="{{ fornec[3] }}"></p>
						<p>Confirme a Senha: <input name="confSenha" type="password" minlength="6" maxlength="50"
								placeholder="Repita a senha" value="{{ fornec[3] }}"></p>

						<p>Cidade: <input name="cidade" id="cidade" type="text" maxlength="50" value="{{ fornec[5] }}">

							UF:
							<select name="estado">
								<option value="{{ fornec[6] }}">{{ fornec[6] }}</option>
								<option value="ES">ES</option>
								<option value="MG">MG</option>
								<option value="RJ">RJ</option>
								<option value="SP">SP</option>
							</select>
						</p>
					</div>

					<input type="submit" value="Atualizar" id="cadastrar">
				</form>
			</div>
		</section>

		<footer class="footer">
			<p>Home Nail&trade; é um app feito por <a href="https://tickware.com.br/"> Tickware, Inc.</a></p>
		</footer>

	</div>
</body>

</html>