<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Home Nail - Login</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>

<body>
	<div class="interface">
		<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">

		<header class="header">
			<h1>Bem-vindo ao Home Nail</h1>
			<h1>{{testeboludo}}</h1>
		</header>
		<!-- <header class="header">
			<nav class="menu">
				<ul>
					<li><a href="agendamentos.html">Agendamentos</a></li>
					<li><a href="cadastro.html">Cadastro</a></li>
					<li><a href="sobre.html">Sobre</a></li>
				</ul>
			</nav>
		</header> -->

		<section id="login">
			<div id='form'>
				<h2>Faça seu Login</h2>

				<form method="GET">

					<p>CPF: <input type="text" maxlength="14" name="cpf"></p>
					<p>Senha: <input type="password" minlength="6" name="senha"></p>

				
					<input type="submit" value="Entrar" id="entrar">
				</form>

				<form action="/cadastrar">
					<!-- <p name="cadastrar">Não possui cadastro? <a href="/cadastrar.html">Cadastre-se</a></p> -->
					<input type="submit" value="cadastrar">
					
				</form>

			</div>

		</section>

		<footer class="footer">
			<p>Home Nail&trade; é um app feito por <a href="https://tickware.com.br/"> Tickware, Inc.</a></p>
		</footer>

	</div>
</body>

</html>