<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

	<title>Home Nail - Login</title>
</head>
<body>
	<div class="interface">
		<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">

		<header class="header">
			<h1>Bem-vindo ao Home Nail</h1>
		</header>

		<section>
			<div id='form'>
				<form>
					<h2>Faça seu Login</h2>

					<div>
						<p>CPF: <input name="cpf" type="number" maxlength="11"></p>
						<p>Senha: <input name="senha" type="password" minlength="6"></p>
					</div>

					<input type="submit" value="Entrar" class="botao">
				</form>

				<p id="p1">Não possui cadastro? Cadastre-se</p>

				<form action="/cadastrar_cliente">
					<input type="submit" value="Sou Cliente" class="botao">
				</form>

				<form action="/cadastrar_fornec">
					<input type="submit" value="Sou Manicure" class="botao">
				</form>

			</div>

		</section>

		<footer class="footer">
			<p>Home Nail&trade; é um app feito por <a href="https://tickware.com.br/"> Tickware, Inc.</a></p>
		</footer>

	</div>
</body>

</html>