<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Home Nail - Login</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	
</head>

<body>
	<div class="interface">
		

		<header class="header">
			<h1>Bem-vindo ao Home Nail</h1>
		</header>

		<section id="login">
			<div id='form'>
				<h2>Faça seu Login</h2>

				<p>CPF: <input type="text" id="cpf" maxlength="14"></p>
				<p>Senha: <input type="password" id="senha" minlength="6"></p>

				<form action="agendamentos.html">
					<input type="submit" value="Entrar" id="entrar">
				</form>

				<p id="p1">Não possui cadastro? <a href="cadastrar.html">Cadastre-se</a></p>
			</div>

		</section>

		<footer class="footer">
			<p>Home Nail&trade; é um app feito por <a href="https://tickware.com.br/"> Tickware, Inc.</a></p>
		</footer>

	</div>
</body>

</html>